body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: red;

}

.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(253, 0, 0);
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

.gallery {
    padding: 40px 20px;
    text-align: center;
}

.gallery-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-grid img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.about {
    display: flex;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.about img {
    width: 40%;
    border-radius: 10px;
}

.contact {
    padding: 40px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.features h3{
    color: black;
    margin-bottom: 30px;
}
.features-cards{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 2px 8pb rgba(red, green, blue, alpha);
    padding: 20px;
}
.card img{
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
}

.contact img {
    margin-top: 30px;
    width: 60%;
    border-radius: 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}
